
.chart-container {
    margin: 90px;

    .chart-title {
        display: flex;
        justify-content: start;
        align-items: center;


        h1 {
            margin: 30px 0px;
            font-weight: 100;
            text-transform: uppercase;
        }

        p {
            margin-left: 30px;
            font-size: 2rem;
            color: grey;
        }

    }
    .btn-vaciarcart {
        border: none;
        background: none;

        p {
        
            font-size: 1rem;
            font-weight: 100;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 4px;
            padding: 10px 20px;

            transition: background-color .3s ease-in-out;
            transition: color .3s ease-in-out;

            &:hover {
                background-color: #ff4444;
                transition: all .09s ease-in-out;
                color: white;
            }
        }
    }

    .chart-product-cont {
        display: flex;
        border: 1px solid rgb(170, 170, 170);
        height: 300px;
        min-height: 300px;
        margin-bottom: 30px;

        .product-detail-cont {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            width: 100%;

            }

            .chart-image {
                object-fit: cover;
            }
                    
        .product-color {
            margin-bottom: 20px;

            img {
            
                    width: 60px;
                    height: 60px;
                    margin: 1px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            
            }
        
        

            .product-title {

                
                h2 {
                    font-weight: 100;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    margin: 20px 0px;
                    text-align: start;

                }
            }
        }

        .price-cont {
            display: flex;
            margin: 30px;
            justify-content: end;
            width: 100%;

            p {
                font-size: 1.5rem;
            }
        }

        .chart-image {

            margin: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }
        }
    }

.total-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .total {
        h2 {
            margin: 0px;
        }
    }

    .chart-total {
        p {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.order-bottom-cont {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            cursor: pointer;
        }
    

        p {
            color: #b1b1b1;
            font-size: 1.5rem;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;


            .md-count {
                cursor: pointer;
                font-size: 1.5rem;
                transition: color .09s ease-in-out;
                
                &:hover {
                    color: #979797;
                }

            }

            .md-count.false {
                display: none;
            }
        
            
        }

    }

@media screen and (width <=767px) {
    
        .chart-container {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .total {
                margin: 30px 0px;
            }
    
            .chart-product-cont {
                margin: 0;
                display: flex;

                margin-bottom: 30px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: auto;
    
                .chart-image {
                    width: 40%;
                    img {
                        
                    }
                }

                .price-cont {
                    justify-content: center ;
                }
            }
        
            .product-detail-cont {
                align-items: center !important;
            

            
            }

        
    
        }



}