.form-cont-contacto {

    width: 30%;
    margin: 0px 20px 0px 0px;
    
    
    textarea {
        padding: 10px;
        font-family: inherit;
    }

    #submit {
        align-self: center;
        margin-bottom: 90px;
        padding: 20px;
        width: 50%;
        background-color: var(--primary-color);
        color: white;
        font-weight: 100;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: color .2s ease-in-out;
        border-radius: 5px;

        &:hover {
            color: var(--hover-color)
        }

        &:focus {
            background-color: var(--secundary-color);
        }
    }
}


.form-contacto, .form-register {
    display: flex;
    align-items: center;
    flex-direction: column;

    #pais {
        margin-bottom: 40px;
    }

    label {
        align-self: flex-start;
        margin: 20px 0px 20px 0px;
    }

    input,
    select {
        width: 100%;
        padding: 20px;


    }

    label+input {
        position: relative;
        border: none;
        border-bottom: 1px solid var(--primary-color);
        background: rgb(122, 122, 122);
        background: linear-gradient(90deg, rgba(122, 122, 122, 0) 86%, rgba(2, 0, 36, 1) 100%);
        border-radius: 2px;

        &:hover {
            background: rgb(122, 122, 122);
            background: linear-gradient(90deg, rgba(122, 122, 122, 0) 86%, rgba(204, 164, 59, 1) 100%);
        }

        &:focus {
            outline: none;
        }
    }
}


.contacto-container {
    display: flex;
    margin: 0px 0px 50px 50px;
    height: 100%;
    justify-content: center;
    

}

.contacto-submit {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 200px;
}

#mensaje {

    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
}

.form-cont {
    width: 50%;
    margin: 0px 20px 0px 0px;
    
    
    textarea {
        padding: 10px;
        font-family: inherit;
    }
}

iframe {
    height: 504px;
}

@media screen and (width <=767px) { 

    .contacto-container {
        flex-direction: column;
        margin: 20px;

        .form-cont-contacto {
            width: 100%;
        }
    }

    iframe {
        width: auto;
    }

    .contacto-submit {
        margin-bottom: 0px;
    }
}

