* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "open sans";
}

:root {
    --primary-color: #120d31;
    --secundary-color: #302f4d;
    --background-color: rgb(223, 223, 223);
    --hover-color: #cca43b;
}

.product-banner-container {
        width: 100%;
        height: 16vw;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

    }
}
.product-piano-cont {
display: flex;

    h2 {
        text-align: center;
        font-weight: 300;
        letter-spacing: .25rem;
        font-size: 2.1rem;
        
    }

    .buy-button-cont {
        display: flex;
        justify-content: center;
        margin: 80px 30px;
    
        
        .buy-button {
            text-align: center;
            background-color: var(--primary-color);
            padding: 30px 120px;
            color: white;
            font-size: 2rem;
            text-decoration: none;
            border-radius: 5px;

            transition: background-color .1s ease-in-out, color .1s ease-in-out;

            &:hover {
                background-color: #302f4d;
                color: #cca43b;
            }
        }

    }

    .piano-image {
        width: 100%;
        max-width: 1000px;
        overflow: hidden;

        ul {
            display: flex;
            padding: 0;
            width: 200%;
            animation: slide 15s infinite alternate ease-in-out;
        }

        li {
            list-style: none;
            width: 100%;
            height: auto;
        }

        
        img {
            max-width: 800px;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: auto;
            display: block;
        }

        #slider-2 {
            width: 100%;
            padding-top: 40px;
            height: 90%;
        }
    }

    .piano-detail-cont {
        width: 50%;
        height: auto;

        .border-bottom-cont {
            margin: 20px 20px;
        }

        #price {
            margin: 30px 0px 30px 0px;
            color: var(--hover-color);
            font-weight: 400;
        }

        h1  {
            font-size: 50px;
            margin-top: 40px;
            font-weight: 400;
        }
        
        p {
            margin-top: 50px;
            font-size: 30px;
            font-weight: 300;
            margin: auto;
        }

        .border-bottom-cont {
            width: 100%;
            margin: 20px 0px;
        }

        .piano-colors-container {
            display: flex;
            width: 100%;
            height: 15%;
            gap: 20px;
            justify-content: center;
            margin-top: 80px;


                img {
                    cursor: pointer;
                    border: 5px solid transparent;
                    
                    &:hover {

                        border: 5px solid var(--hover-color) ;
                    }
                }
        }
        img.active {
            border: 5px solid var(--hover-color) ;
        }

        .piano-description {

            text-align: center;
            font-size: 1.5rem;
            width: 90%;

            strong {
                color: var(--primary-color);
            }
        }
    }
}

@keyframes slide {

    0% {
        margin-left: 0%;
    }
    45% {
        margin-left: 0%;
    }
    50% {
        margin-left: -100%;
    }
    100% {
        margin-left: -100%;
    }
}


@media screen and (width <=767px) {

    .product-piano-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        

        .piano-image {
            width: 100%;
            height: 400px;
            overflow: hidden;
    
            ul {
                display: flex;
                flex-direction: column;
                height: 200%;
                width: 100%;
                animation: slide 15s infinite alternate ease-in-out;
            }
    
            li {
                list-style: none;
                height: 100%;
                width: 100%;
            }
    
            
            img {
                width: 100%;
                object-fit: cover;
            }

            #slider-1 {
                height: 100%
            }
    
            #slider-2 {
                height: 100%;
                padding-top: 40px;
                
            }
        }
    
        .piano-detail-cont {
            margin: auto;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            .border-bottom-cont {
                width: 100%;
                margin: 20px 0px;
            }

            p {
                font-size: 1.5rem;
            }

            h1 {
                font-size: 2rem;
            }
            .piano-description {
                font-size: 1.3rem;
            }

            h2 {
                margin: auto;
                font-size: 1.5rem;
            }
        }
        .piano-colors-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            img {
                width: 50%;
            }
        }

        .buy-button {
            margin-bottom: 50px;
            
            a {
                padding: 20px 100px;
                font-size: 1.5rem;
                z-index: 99;

                &:focus {
                    background-color: var(--secundary-color);
                    color: var(--hover-color);
                }
            }
        }
    }
    @keyframes slide {

        0% {
            margin-top: 0%;
        }
        45% {
            margin-top: 0%;
        }
        50% {
            margin-top: -100%;
        }
        100% {
            margin-top: -100%;
        }
    }
    }